/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/stley.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/stley.scss */
img {
  width: 100%;
  height: 100%;
}

/* line 9, ../sass/stley.scss */
.box {
  padding: 0.4rem 0.5rem;
  width: 4.65rem;
  position: relative;
  font-size: 0;
}
/* line 14, ../sass/stley.scss */
.box .music {
  width: 0.3rem;
  height: 0.3rem;
  left: 3.06rem;
  top: 0.54rem;
  z-index: 2;
  position: absolute;
}
/* line 21, ../sass/stley.scss */
.box .music .animate-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 26, ../sass/stley.scss */
.box .music .animate-wrapper .bgmusic {
  width: 100%;
  height: 100%;
}
/* line 29, ../sass/stley.scss */
.box .music .animate-wrapper .bgmusic .control {
  width: 100%;
  height: 100%;
  background: url("https://oss3.rabbitpre.com/rp/renderer/music.c0fda016db.gif") transparent no-repeat 50%;
  background-size: contain;
}
/* line 34, ../sass/stley.scss */
.box .music .animate-wrapper .bgmusic .control .control-after {
  width: 100%;
  height: 100%;
  background: url("https://oss3.rabbitpre.com/rp/renderer/music_off.8d94020a5c.png") transparent no-repeat 50%;
  background-size: 100% 100%;
  animation: move 1.2s linear 0s infinite;
  z-index: 2;
}
@keyframes move {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 65, ../sass/stley.scss */
.swiper-wrapper {
  width: 4.5rem;
  height: 5.84rem;
  padding: 0.4rem 0.5rem;
  position: relative;
}
/* line 70, ../sass/stley.scss */
.swiper-wrapper .di {
  width: 3.2rem;
  height: 5.04rem;
}
/* line 73, ../sass/stley.scss */
.swiper-wrapper .di img {
  width: 100%;
  height: 100%;
}
/* line 78, ../sass/stley.scss */
.swiper-wrapper .left-deng {
  width: 1.41rem;
  height: 2.98rem;
  position: absolute;
  top: -0.915rem;
  left: -0.485rem;
  z-index: 2;
}
/* line 86, ../sass/stley.scss */
.swiper-wrapper .right-deng {
  width: 1.41rem;
  height: 2.98rem;
  position: absolute;
  top: -1.255rem;
  left: 2.195rem;
  z-index: 2;
}
/* line 94, ../sass/stley.scss */
.swiper-wrapper .hongdi {
  width: 2.82rem;
  height: 4.49rem;
  top: 0.415rem;
  left: 0.245rem;
  position: absolute;
}
/* line 101, ../sass/stley.scss */
.swiper-wrapper .xuehua {
  width: 2.61rem;
  height: 4.28rem;
  left: 0.28rem;
  top: 0.415rem;
  position: absolute;
}
/* line 108, ../sass/stley.scss */
.swiper-wrapper .kuang {
  width: 2.49rem;
  height: 4.14rem;
  top: 0.485rem;
  left: 0.33rem;
  position: absolute;
}
/* line 115, ../sass/stley.scss */
.swiper-wrapper .ditu {
  width: 3.12rem;
  height: 5.01rem;
  top: 0.03rem;
  left: 0.05rem;
  position: absolute;
}
/* line 122, ../sass/stley.scss */
.swiper-wrapper .swiper-slide {
  width: 3.2rem;
  height: 5.04rem;
}
/* line 125, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 {
  width: 100%;
  height: 100%;
}
/* line 129, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten {
  width: 3.12rem;
  height: 5.01rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 138, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-nao {
  width: 0.53rem;
  height: 0.97rem;
  top: 0.94rem;
  left: 1.94rem;
  position: absolute;
}
/* line 146, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-yuan {
  width: 0.7rem;
  height: .94rem;
  left: 1.91rem;
  top: 2.085rem;
  position: absolute;
}
/* line 153, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-xiao {
  width: 0.61rem;
  height: 0.98rem;
  top: 3.135rem;
  left: 1.91rem;
  position: absolute;
}
/* line 161, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-yuan-1 {
  width: 1.43rem;
  height: 1.27rem;
  top: 1.745rem;
  left: 1.69rem;
  position: absolute;
}
/* line 167, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-yuan-1 img {
  animation: move1 4s linear 0s infinite;
}
/* line 172, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-xiao-1 {
  width: 1.44rem;
  height: 1.22rem;
  top: 3.015rem;
  left: 1.675rem;
  position: absolute;
}
/* line 178, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-xiao-1 img {
  animation: move1 4s linear 0s infinite;
}
/* line 183, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-nao-1 {
  width: 1.43rem;
  height: 1.22rem;
  top: 0.75rem;
  left: 1.575rem;
  position: absolute;
}
/* line 189, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .text-nao-1 img {
  animation: move1 4s linear 0s infinite;
}
@keyframes move1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 201, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .tangyuan {
  width: 2.53rem;
  height: 2.54rem;
  top: 2.54rem;
  left: -0.035rem;
  position: absolute;
  animation: move3 3s linear 0s infinite;
}
@keyframes move3 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 229, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .duilian {
  width: 0.25rem;
  height: 1.58rem;
  top: 1.505rem;
  left: 1.0775rem;
  position: absolute;
}
/* line 236, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .duilian-text {
  width: 0.18rem;
  height: auto;
  left: 1.1125rem;
  top: 1.745rem;
  position: absolute;
  color: #ffc786;
  font-size: 0.16rem;
  line-height: 0.22rem;
  font-family: FZXKJW_1712967488;
}
/* line 247, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .duilian-heng {
  width: 1.25rem;
  height: auto;
  left: 0.58rem;
  top: 0.985rem;
  position: absolute;
  color: #ffc786;
  font-size: 0.18rem;
  line-height: 0.24rem;
  letter-spacing: 0.01rem;
}
/* line 258, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent1 .sonten .guanggao {
  width: 2.81rem;
  height: auto;
  left: 0.18rem;
  top: 0.625rem;
  position: absolute;
  color: #ffc786;
  font-size: 0.14rem;
  letter-spacing: 0.01rem;
  text-align: center;
}
/* line 272, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 276, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .left-deng {
  animation: move4 3s linear 1.6s infinite;
}
@keyframes move4 {
  0% {
    top: -0.915rem;
  }
  25% {
    top: -1.1rem;
  }
  50% {
    top: -0.8rem;
  }
  100% {
    top: -0.915rem;
  }
}
/* line 293, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .right-deng {
  animation: move4 3s linear 1.6s infinite;
}
@keyframes move4 {
  0% {
    top: -1.225rem;
  }
  25% {
    top: -1.4rem;
  }
  50% {
    top: -1.1rem;
  }
  100% {
    top: -1.225rem;
  }
}
/* line 310, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten {
  width: 3.12rem;
  height: 5.01rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 317, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yuan-1 {
  width: 0.43rem;
  height: 0.43rem;
  top: 0.655rem;
  left: 0.725rem;
  position: absolute;
}
/* line 324, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yuan-2 {
  width: 0.43rem;
  height: 0.43rem;
  top: 0.655rem;
  left: 1.18rem;
  position: absolute;
}
/* line 331, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yuan-3 {
  width: 0.43rem;
  height: 0.43rem;
  top: 0.655rem;
  left: 1.635rem;
  position: absolute;
}
/* line 338, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yuan-4 {
  width: 0.43rem;
  height: 0.43rem;
  top: 0.655rem;
  left: 2.09rem;
  position: absolute;
}
/* line 345, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .text {
  width: 2.93rem;
  height: auto;
  left: 0.265rem;
  top: 0.76rem;
  position: absolute;
  border-color: black;
  color: #ffc786;
  font-size: 0.24rem;
  line-height: 0.26rem;
  letter-spacing: 0.22rem;
  border-radius: 0rem;
  text-align: center;
}
/* line 359, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .tangyuan {
  width: 0.99rem;
  height: 0.67rem;
  top: 3.845rem;
  left: 1.105rem;
  position: absolute;
}
/* line 365, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .tangyuan img {
  animation: move5 1.5s linear 0s infinite;
}
@keyframes move5 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 390, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yan {
  width: 0.43rem;
  height: 0.76rem;
  top: 3.345rem;
  left: 1.455rem;
  position: absolute;
}
/* line 396, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .yan img {
  animation: move6 1.5s linear 0s infinite;
}
@keyframes move6 {
  0% {
    transform: scale(0.3);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* line 410, ../sass/stley.scss */
.swiper-wrapper .swiper-slide .sontent2 .sonten .text-c {
  width: 2.03rem;
  height: auto;
  left: 0.585rem;
  top: 1.225rem;
  position: absolute;
  border-color: black;
  color: #ffc786;
  font-size: 0.14rem;
  line-height: 0.22rem;
  letter-spacing: 0.01rem;
  border-radius: 0rem;
  text-align: left;
}
